br {
    display: none;
}

ol {
    list-style: decimal;
    padding-left: 30px;
    margin-bottom: 20px;
}

li {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
}

.first {
    
    filter: saturate(1.5)
            contrast(1.5)
            brightness(1)
            hue-rotate(155deg);
}

body {
    width: 700px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

h1{
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;

    margin-top: 50px;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
}

h2 {
    font-size: 26px;
    line-height: 32px;
    font-weight: bold;
    
    margin-top: 40px;
    margin-bottom: 16px;
}

h3 {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;

    margin-top: 24px;
    margin-bottom: 10px;
}

h4 {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 8px;
}

blockquote {
    border-left: 4px solid #000;
    padding-left: 20px;
    margin: 30px 0;

    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    color: #777;
}
/* pages update */